#ação{
    height:400px;
    margin-left:5px;
   
}
#comedia{
    height:400px;
    margin-left:2px;
}
#Besterol{
    height:400px;
    margin-left:20px;
}
.posicaoPesquisa{
font-family:arial;
    text-align:center;
    margin-top:100px;

}
.pesquisa{
    padding:9px 20px 9px;
}
#listaFilmes{
    position:absolute;
    top:20px;
    left:30px;
    padding:5px 20px 5px;
    border:1px solid black;

    
}
#posicaoFilmes{
    display:flex;
}
#posicaoTexto{
    text-align:center;
}