<div class="posicaoPesquisa">
    <h1>Pesquise o Filme</h1>
    <input class='pesquisa' type="text" [(ngModel)]="categoriaEscolhida" name="categoriaEscolhida" placeholder="Digite a categoria de filmes">
</div>
<div id="listaFilmes">
    <h2>Filmes Disponiveis</h2>
    <ul>
        <li>Ação</li>
        <li>Comédia</li>
        <li>Besterol</li>
    </ul>

</div>
<div *ngIf="categoriaEscolhida">
  <h3 style="text-align:center;">Filmes da categoria "{{ categoriaEscolhida }}"</h3>

  <div [ngSwitch]="categoriaEscolhida">
    <div *ngSwitchCase="'Ação'" id="posicaoFilmes">
      <div *ngFor="let filme of filmesAcao" style="border: 1px solid black; margin-left:5px;">
        <div id="posicaoTexto">
            <h4>{{ filme.titulo }}</h4>
        </div>
        <img id="ação" [src]="filme.imagem" alt="{{ filme.titulo }}">
        <p id="posicaoTexto">{{ filme.descricao }}</p>
      </div>
    </div>


    <div *ngSwitchCase="'Comédia'" id="posicaoFilmes">
      <div *ngFor="let filme of filmesComedia" style="border: 1px solid black; margin-left:5px;">
        <div id="posicaoTexto">
            <h4>{{ filme.titulo }}</h4>
        </div>
        <img id='comedia'[src]="filme.imagem" alt="{{ filme.titulo }}">
            <p id="posicaoTexto">{{ filme.descricao }}</p>
        
      </div>
    </div>

    <div *ngSwitchCase="'Besterol'" id="posicaoFilmes">
        <div *ngFor="let filme of filmesBesterol" style="border: 1px solid black; margin-left:5px;">
          <div id="posicaoTexto">
              <h4>{{ filme.titulo }}</h4>
          </div>
          <img id='Besterol'[src]="filme.imagem" alt="{{ filme.titulo }}">
              <p id="posicaoTexto">{{ filme.descricao }}</p>
          
        </div>
      </div>

    <div *ngSwitchDefault style="text-align:center">
      <p>Desculpe, não há filmes disponíveis para a categoria "{{ categoriaEscolhida }}"</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
